* {
    /*properties for everything here*/
}

.body {
    background-image: url(./chair-hoochee.jpg);
    background-repeat: no-repeat;
    position:relative;
    justify-content: space-around;
    background-color:#a8c56b;

}

.navButton {
   background-color: #738201;
   border:3px #AFD2C1 solid;
   padding: 5px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color:#E0ECD4; 
   display:flex;
   justify-content: flex-end;
}

.navButton a:hover {
    background-color: #a8c56b;
    color:#F4F9D2;
}

.div {
   width: 100px;
   height: auto;
   padding: 10px;
}

.title {
    background-color: #738201;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #afd2c1;
    
}

.article {
    background-color: #738201;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#AFD2C1;
}

.footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#AFD2C1;
    font-size: smaller;
    justify-content: center;
    background-color: #738201;
}
